.container {
  margin: 0 auto;
  padding: 15px 15px;
  min-width: 320px;
  max-width: 375px;
}


/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 24px 60px;
  }
}

/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 84px 120px;
  }
}