.game {
  position: fixed;
  inset: 0;
  background: url('/assets/game/game-bg.webp') center/cover no-repeat;
  padding: 0;
  z-index: 1;
}
.game-wrapper {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game-logo {
  position: fixed;
  top: 24px;
  left: 0;
  width: 150px;
  z-index: inherit;
}

.game-hero {
  position: fixed;
  top: -15px;
  right: -40px;
  width: 280px;
}

.reel {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-bottom: 1.5rem;
}

.reel::before {
  content: '';
  position: absolute;
  inset: -30px;
  background: url('/assets/game/bubbles-canvas.png') no-repeat center/cover;
  z-index: 0;
}
.cell {
  width: 68px;
  height: 68px;
  border: 4px solid transparent;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  background: transparent;
  z-index: 1;
}
.cell img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.status-bg {
  display: inline-block; 
  padding: 10px; 
  background: url('/assets/game/spin-bg.png') no-repeat center/cover;
  background-size: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
  margin-top: -10px; 
  position: relative; 
  z-index: 1;
}


.gradient-text {
  text-transform: uppercase;
  background: linear-gradient(180deg, #dcefff 40%, #c079e9 49%, #f0cdff 75%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #300a78;
  font-family: 'Titan One', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1;
  white-space: nowrap;
}


@keyframes reelSpin {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.reel.spinning .cell {
  animation: reelSpin 0.7s ease-out;
}

@keyframes winPulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
.cell.win img {
  animation: winPulse 0.5s ease-in-out 3;
}
